body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header, footer {
    background-color: orange;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}